# Ex - GroupBy

Check out [Alcohol Consumption Exercises Video Tutorial](https://youtu.be/az67CMdmS6s) to watch a data scientist go through the exercises

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv',keep_default_na=False, na_values=['_'])
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Print beer servings average per continent

---

In [ ]:
beer_avg = drinks.groupby('continent').beer_servings.mean().reset_index()
print(beer_avg)

  continent  beer_servings
0        AF      61.471698
1        AS      37.045455
2        EU     193.777778
3        NA     145.434783
4        OC      89.687500
5        SA     175.083333

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
wine_stats = drinks.groupby('continent').wine_servings.describe()
print(wine_stats)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
NA          23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

###Step 6. Print all countries with wine servings bigger than the median wine servings.

In [ ]:
median_wine_servings = drinks.wine_servings.median()
bigger_median = drinks[drinks['wine_servings'] > median_wine_servings]['country']
bigger_median

1                Albania
2                Algeria
3                Andorra
4                 Angola
5      Antigua & Barbuda
             ...
180              Ukraine
182       United Kingdom
184                  USA
185              Uruguay
187              Vanuatu
Name: country, Length: 96, dtype: object

###Step 7. For each continent, print the country with the maximal beer consumption.

In [ ]:
max_beer_consumption = drinks.groupby('continent')['beer_servings'].idxmax().reset_index()
max_beer_consumption

  continent  beer_servings
0        AF            117
1        AS            141
2        EU             45
3        NA            130
4        OC            129
5        SA            188

###Step 8. We want to define an alcohol consumption rank. Create a new column created 'stars' such that for each country, if the total_litres_of_pure_alcohol is smaller than the 0.25 precentile of the column, it gets 4 stars. If it's between 0.25 - 0.5 precentile, it will get 3 stars, 0.5 - 0.75 is 2 stars and 0.75 - 0.1 is 1 star. Those values will be set in the new column.

In [38]:
q1 = drinks['total_litres_of_pure_alcohol'].quantile(0.25)
q2 = drinks['total_litres_of_pure_alcohol'].quantile(0.5)
q3 = drinks['total_litres_of_pure_alcohol'].quantile(0.75)

def alcohol_rating(total_litres):
    if total_litres < q1:
        return 4
    elif total_litres < q2:
        return 3
    elif total_litres < q3:
        return 2
    else:
        return 1

drinks.stars = drinks['total_litres_of_pure_alcohol'].apply(alcohol_rating)

drinks[['country','total_litres_of_pure_alcohol','stars']]

         country  total_litres_of_pure_alcohol  stars
0    Afghanistan                           0.0      4
1        Albania                           4.9      2
2        Algeria                           0.7      4
3        Andorra                          12.4      1
4         Angola                           5.9      2
..           ...                           ...    ...
188    Venezuela                           7.7      1
189      Vietnam                           2.0      3
190        Yemen                           0.1      4
191       Zambia                           2.5      3
192     Zimbabwe                           4.7      2

[193 rows x 3 columns]

### Step 9. For shaming purposes, change the value of the column stars such that the country with the biggest alcohol consumption will have the value "WORST!" in it.

In [ ]:
max_index = drinks['total_litres_of_pure_alcohol'].idxmax()

drinks.loc[max_index,'stars'] = "WORST!"
drinks[15::]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,stars
15,Belarus,142,373,42,14.4,EU,WORST!
16,Belgium,295,84,212,10.5,EU,1
17,Belize,263,114,8,6.8,NA,2
18,Benin,34,4,13,1.1,AF,4
19,Bhutan,23,0,0,0.4,AS,4
...,...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA,1
189,Vietnam,111,2,1,2.0,AS,3
190,Yemen,6,0,0,0.1,AS,4
191,Zambia,32,19,4,2.5,AF,3
192,Zimbabwe,64,18,4,4.7,AF,2

### Step 10. Perform the same as question 8 but for the continents total_litres_of_pure_alcohol mean

In [48]:
continent_means = drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()

q1, q2, q3 = continent_means.quantile([0.25, 0.5, 0.75])

drinks.continent_stars =drinks.continent.map(continent_means.apply(lambda q: 
                                                  4 if q < q1 
                                                  else 3 if q < q2 
                                                  else 2 if q < q3 
                                                  else 1))
drinks[['continent','country','total_litres_of_pure_alcohol','continent_stars']].sort_values('continent')

    continent     country  total_litres_of_pure_alcohol  continent_stars
96         AF     Liberia                           3.1                4
104        AF        Mali                           0.6                4
101        AF      Malawi                           1.5                4
100        AF  Madagascar                           0.8                4
97         AF       Libya                           0.0                4
..        ...         ...                           ...              ...
23         SA      Brazil                           7.2                1
37         SA    Colombia                           4.2                1
6          SA   Argentina                           8.3                1
185        SA     Uruguay                           6.6                1
20         SA     Bolivia                           3.8                1

[193 rows x 4 columns]

### Step 11. Perform the same as question 8 but for the continents total_litres_of_pure_alcohol mean

### Step 12. Drop the column stars from the dataframe.

In [62]:
#drinks = drinks.drop('stars',axis=1)
#drinks = drinks.drop('continent_stars',axis=1)

### Step 13. Create a new DataFrame called only_alcohol containing only the columns 'country','total_litres_of_pure_alcohol','continent'

In [5]:
 only_alcohol = drinks[['country','total_litres_of_pure_alcohol','continent']]
 only_alcohol

         country  total_litres_of_pure_alcohol continent
0    Afghanistan                           0.0        AS
1        Albania                           4.9        EU
2        Algeria                           0.7        AF
3        Andorra                          12.4        EU
4         Angola                           5.9        AF
..           ...                           ...       ...
188    Venezuela                           7.7        SA
189      Vietnam                           2.0        AS
190        Yemen                           0.1        AS
191       Zambia                           2.5        AF
192     Zimbabwe                           4.7        AF

[193 rows x 3 columns]

### Step 14. Set the index of the table only_alcohol to country.

In [8]:
only_alcohol = only_alcohol.set_index('country')

             total_litres_of_pure_alcohol continent
country
Afghanistan                           0.0        AS
Albania                               4.9        EU
Algeria                               0.7        AF
Andorra                              12.4        EU
Angola                                5.9        AF
...                                   ...       ...
Venezuela                             7.7        SA
Vietnam                               2.0        AS
Yemen                                 0.1        AS
Zambia                                2.5        AF
Zimbabwe                              4.7        AF

[193 rows x 2 columns]

##Part 2
Let's use another dataframe.
Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 1. Read the dataset into a dataframe named stocks, convert the date column to type datetime and set the it to be the index of the table

### Step 2. Print the total equity for each month (instead of each week as it  currently is)

### Step 3. Print the mean Taxable Bond for each month

### Step 4. What is the difference in days between the first row to the last (chronologically).

### Step 5. Print plot of the column Total over time